* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.section-tit {
    font-size: 40px;
    font-weight: 800;
}

.banner {
    background-image: url(../images/banner/banner3.png);
    height: 700px;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.banner .content {
    text-align: right;
    width: 39%;
    margin-left: auto;
    padding-top: 250px;
    padding-right: 40px;
    margin-right: 139px;
}

.banner .section-tit {
    color: white;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.2;

}

.banner .section-dcr p {
    font-size: 14px;
    color: white;
    width: 83%;
    margin-left: auto;
    padding: 23px 0;
}

.btn a {
    font-size: 18px;
    background-color: white;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    color: #005FAC;

}

/* failures_content start */
.failures_content {
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.failures-item {
    text-align: left;
    width: 50%;
}

.failures-item img {
    width: 70%;
    margin-left: 100px;
}

.failures-item .failures-info {
    width: 55%;
}

.failures-item .failures-info h3 {
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.failures-item .failures-info p {
    font-size: 15px;
    color: #6e6e6e;
    line-height: 25px;
   
    margin-bottom: 15px
}

.failures-item ul {
    list-style: none;
}

.failures-item ul li {
    padding-left: 15px;
    padding: 8px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #737070;
}
.failures-item ul li i{
    font-size: 20px;
    margin-left: -25px;
    padding-left: 10px;
    color: #005FAC;
}

/* failures_content end */

/* plan seation start */
.plan {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.plan .section-tit {
    margin-bottom: 50px;
    font-size: 35px;
}

.plan-content {
    text-align: center;
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 30px;
}

.plan-content .plan-item {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.plan-content .plan-item h4 {
    font-size: 20px;
}

.plan-content .plan-item p {
    font-size: 18px;
    color: #909090;
}

/* plan seation End */

/* contact section start */
.contact {
    background-image: url(../images/watch.png);
    background-size: cover;
    background-position: center;
    height: 240px;
    width: 70%;
    margin: 50px auto;
    margin-bottom: 120px;
    border-radius: 5px;
}

.contact .section-tit {
    background-image: url(../images/gradient1.png);
    background-size: cover;
    background-position: center;
    height: 240px;
    width: 100%;
    margin: 50px auto;
    border-radius: 5px;

}

.contact .section-tit {
    align-items: center;
}

.contact .section-tit h3 {
    font-size: 35px;
    font-weight: 600;
    padding: 20px;
    padding-bottom: 10px;
    width: 50%;
    color: white;
}

.contact .btn a {
    margin-left: 25px;

}

/* contact section End */


/* counterupup section start */
.rn-counterupup {
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
}

.rn-counterupup .section-tit {
    margin-top: 20px;
}

.count p {
    font-size: 16px;
    color: #979696;
    padding-bottom: 20px;
}

.counterupup-content {
    display: flex;
    align-items: center;
    text-align: center;
}

.counterupup-content {
    margin: 30px 0;
    width: 100%;
    height: 470px;
    background: url(../images/banner/bg-image-17.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.counterupup-content:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    background-color: #00010c;
}

.counter {
    font-size: 72px;
    line-height: 80px;
    display: inline-block;
    margin-bottom: 17px;
    position: relative;
    display: inline-block;
    color: #f9004d;
    margin-left: -13px;
}

.counter::after {
    right: -26px;
    position: absolute;
    top: -17px;
    font-size: 40px;
    content: "+";
}

p.description {
    font-size: 16px;
    line-height: 30px;
    padding: 0 5%;
    color: rgba(29, 29, 36, 0.75);
    color: #caccd7;
}


/* counterupup section start */



/* footer section start */
.footer-content {
    padding-top: 40px;
    display: flex;
    /* align-items: center; */
    background-color: #151414
}

.footer-item {
    width: 50%;
    text-align: left;
    margin-left: 97px;
    padding-left: 100px;
}

.footer-item .section-tit h2 {
    font-size: 40px;
    font-weight: 500;
    color: white;
    padding: 30px 0 20px 0;
}
.footer-item .btn{
    margin-top: 30px;
    font-size: 20px
}
.footer-item p {
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding: 0px 92px 20px 0;
}

.footer-item .social-contect h5 {
    color: white;
    font-size: 14px;
    padding-bottom: 10px;
}

.social-icon a {
    font-size: 15px;
    padding: 20px 5px;
}

.social-icon a img {
    width: 30px;
    margin-bottom: 40px;
}

.footer-item h4 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 40px 0 10px 0;
}

.footer-item input {
    width: 60%;
    height: 35px;
    font-size: 16px;
    padding: 0 10px;
}

/* footer section End */